<aside id="sidebar">
	<div class="h-100">
		<div class="sidebar-logo text-center">
            <div class="marque">
                <img src="{{asset('assets/img/logo.png')}}" alt="">
                <span class="">
                    Medi<span class="text-green-light">Serve</span>
                </span>
            </div>
		<!-- Sidebar Navigation -->
		<ul class="sidebar-nav text-center text-light">
			<div class="row flex-column">
				<li class="sidebar-header d-3">
					<h3>Tableau de Bord</h3>
				</li>
				{# Dropdown #}
				<div class="row">
					<li class="sidebar-item my-2">
						<a class="nav-link" href="{{ path('app_infirmier_consultation_index')}}">
							<i class="fa-solid fa-calendar-days" style="color: #ffffff;"></i>
							Consultations</a>
					</li>
					<li class="sidebar-item my-2" style="padding-right: 50px">
						<a class="nav-link" href="{{ path('app_infirmier_dossier_index')}}">
							<i class="fa-solid fa-notes-medical"style="color: #ffffff;"></i>
							Dossiers</a>
					</li>
				</div>
				<div class="col"></div>
			</div>
		</ul>
	</div>
</aside>
