{% extends 'base.html.twig' %}

{% block body %}

<h1>Page non trouvée</h1>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem ad modi exercitationem sit ipsa illum totam, 
    sapiente perspiciatis quod quisquam ratione qui repudiandae! 
    Eos fugiat asperiores ex labore, eligendi cupiditate!
    <a href=" {{ path('app_home')}}">return homepage</a>
</p>
    
{% endblock %}