{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    {% include '_partials/_navbar.html.twig' %}
    <strong><h1 class="text-center mt-4">Crée un nouvel utilisateur</h1></strong>

    {{ include('admin_user/_form.html.twig') }}
{% endblock %}
